<div class="card position-absolute top-50 start-50 translate-middle text-center" style="width: 24rem;">
  <div class="card-header">Profile</div>
  <div class="card-body">
    <h5 class="card-title">Bienvenido</h5>
    <p class="card-text">
      Gestiona tu información, la privacidad y la seguridad para mejorar tu experiencia.
    </p>
    <div class="our-team">
      <div class="picture" >
        <img class="img-fluid" src="{{usuario.avatar}}" />
      </div>
      <div class="team-content">
        <h3 class="name">{{usuario.nombre}}</h3>
        <h4 class="title">{{usuario.email}}</h4>
      </div>
      <ul class="social">
        <li>
          <a
            class="fa-brands fa-square-facebook"
            aria-hidden="true"
          ></a>
        </li>
        <li>
          <a
            class="fa-brands fa-square-twitter"
            aria-hidden="true"
          ></a>
        </li>
        <li>
          <a
            class="fa-brands fa-square-google-plus"
            aria-hidden="true"
          ></a>
        </li>
        <li>
          <a
            class="fa-brands fa-linkedin"
            aria-hidden="true"
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-footer text-muted">2 days ago</div>
</div>
