.aclass{
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(8px 8px 8px #141414);
    opacity: .9;
}
img{
  width:70px;
  height: 70px;
}
td{
    text-align: center;
}

.enlace {
  display:inline;
  border:0;
  padding:0;
  margin:0;
  text-decoration:underline;
  background:none;
  color:#000088;
  font-family: arial, sans-serif;
  font-size: 1em;
  line-height:1em;
}

.enlace:hover {
  text-decoration:none;
  color:#0000cc;
  cursor:pointer;
}