<header>

  <div class="container-fluid">

    <div class="navb-logo">
      <!-- <img src="assets/logo.png" alt="Logo"> -->
    </div>

    <div class="navb-items d-none d-xl-flex">

      <!-- <div class="item">
        <a>{{usuario.nombre }}</a>
      </div> -->
      <div class="item">
        <a>{{usuario.nombre }}</a>
        <a [routerLink]="['/dashboard/profile']" *ngIf="usuario.cliente">Cliente</a>
        <a [routerLink]="['/dashboard/profile']" *ngIf="usuario.organizador"> Organizador</a>
        <a [routerLink]="['/dashboard/profile']" *ngIf="usuario?.fotografo"> Fotografo</a>
      </div>



      <div class="item">
        <a href="/services">Mis Fotos</a>
      </div>

      <div  *ngIf="usuario?.cliente" class="item">
        <a href="/cases">Eres Organizador</a>
        <a href="/cases">Eres Fotografo</a>
      </div>




      <div class="item-button">
        <a (click)="onClick()"  type="button">Salir</a>
      </div>
    </div>

    <!-- Button trigger modal -->
    <div class="mobile-toggler d-lg-none">
      <a href="#" data-bs-toggle="modal" data-bs-target="#navbModal">
        <i class="fa-solid fa-bars"></i>
      </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="navbModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <img src="/img/logo-variant.png" alt="Logo">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                class="fa-solid fa-xmark"></i></button>
          </div>

          <div class="modal-body">

            <div class="modal-line">
              <i class="fa-solid fa-house"></i><a href="/">Home</a>
            </div>

            <div class="modal-line">
              <i class="fa-solid fa-bell-concierge"></i><a href="/services">Services</a>
            </div>

            <div class="modal-line">
              <i class="fa-solid fa-file-lines"></i> <a href="/cases">Cases</a>
            </div>

            <div class="modal-line">
              <i class="fa-solid fa-circle-info"></i><a href="/about">About</a>
            </div>

            <a href="/contact" class="navb-button" type="button">Salir</a>
          </div>

          <div class="mobile-modal-footer">

            <a target="_blank" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a target="_blank" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a target="_blank" href="#"><i class="fa-brands fa-youtube"></i></a>
            <a target="_blank" href="#"><i class="fa-brands fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
